<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="user.photoURL" alt="Avatar" />
    <ion-card-header>
      <ion-card-title>{{ user.displayName }}</ion-card-title>
      <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" (click)="toggleEdit()">
        {{ editMode ? 'Cancelar' : 'Editar Perfil' }}
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="editMode">
    <ion-card-header>
      <ion-card-title>Editar Perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
        <ion-item>
          <ion-label position="floating">Nombre de Usuario</ion-label>
          <ion-input formControlName="displayName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nueva Contraseña</ion-label>
          <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password"></ion-input>
          <ion-input-password-toggle slot="end" (click)="toggleShowPassword()"></ion-input-password-toggle>

        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword"></ion-input>
          <ion-input-password-toggle slot="end" (click)="toggleShowConfirmPassword()"></ion-input-password-toggle>
        </ion-item>
        <ion-button expand="full" type="submit">Actualizar Perfil</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
