<ion-header>
  <ion-toolbar>
    <ion-title>Comentarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let comment of comments">
      <ion-avatar slot="start">
        <img [src]="comment.profilePicture" />
      </ion-avatar>
      <ion-label>
        <h2>{{ comment.username }}</h2>
        <p>{{ comment.text }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-input [(ngModel)]="newCommentText" placeholder="Escribe un comentario..."></ion-input>
    <ion-button (click)="addComment()">Comentar</ion-button>
  </ion-item>
</ion-content>
